<!-- <div class="col-lg-12 col-sm-12 col-md-12">
  <div class="row">
    <div *ngFor="let card of cards;">
      <mat-card class="card-size">
        <mat-card-header class="header-icons">
          <div class="icon-size">
            <mat-icon>{{card.icon}}</mat-icon>
          </div>
          <div class="padding-left-20">
            <mat-card-title>{{card.title}}</mat-card-title>
            <mat-card-subtitle>{{card.subtitle}}</mat-card-subtitle>
          </div>
        </mat-card-header>
        <div mat-card-image [ngClass]="{'bg-color-primary': card.color == 'primary', 'bg-color-orange': card.color == 'orange', 'bg-color-yellow': card.color == 'yellow'}">
          <img class="image-size" src="{{card.image}}">
        </div>
        <div class="button-row">
          <button mat-icon-button class="btn" routerLink="{{card.uisref}}">
            <mat-icon>visibility</mat-icon>
          </button>
        </div>
        <mat-card-actions class="footer-align">
          <mat-divider class="footer-card"></mat-divider>
          <div class="stats">
            <span>
              <mat-icon class="stats-size">assessment</mat-icon>
            </span>
            <span class="stats-desc"><span>{{card.stats ? card.stats.label : ''}}</span>
            <span>{{card.stats ? card.stats.value : ''}}</span></span>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div> -->
<div class="flex-class">

  <mat-card class="example-card card-size2">
    <mat-card-header class="header">
      <img mat-card-avatar src="assets/rivage.png" alt="Photo of a Shiba Inu">
      <mat-card-title>Evento na divine</mat-card-title>
      <mat-card-subtitle class="header">
        <mat-icon>location_on</mat-icon>Divine massageria
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/evento 1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content class="button-content">
      <button mat-stroked-button>Ver maissobre o evento</button>
    </mat-card-content>
  </mat-card>


  <mat-card class="example-card card-size2">
    <mat-card-header class="header">
      <img mat-card-avatar src="assets/rivage.png" alt="Photo of a Shiba Inu">
      <mat-card-title>Evento na divine</mat-card-title>
      <mat-card-subtitle class="header">
        <mat-icon>location_on</mat-icon>Divine massageria
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/evento 1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content class="button-content">
      <button mat-stroked-button>Ver maissobre o evento</button>
    </mat-card-content>
  </mat-card>


  <mat-card class="example-card card-size">
    <mat-card-header class="header">
      <img mat-card-avatar src="assets/rivage.png" alt="Photo of a Shiba Inu">
      <mat-card-title>Evento na divine</mat-card-title>
      <mat-card-subtitle class="header">
        <mat-icon>location_on</mat-icon>Divine massageria
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/evento 1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content class="button-content">
      <button mat-stroked-button>Ver maissobre o evento</button>
    </mat-card-content>
  </mat-card>


  <mat-card class="example-card card-size">
    <mat-card-header class="header">
      <img mat-card-avatar src="assets/rivage.png" alt="Photo of a Shiba Inu">
      <mat-card-title>Evento na divine</mat-card-title>
      <mat-card-subtitle class="header">
        <mat-icon>location_on</mat-icon>Divine massageria
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/evento 1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content class="button-content">
      <button mat-stroked-button>Ver maissobre o evento</button>
    </mat-card-content>
  </mat-card>


  <mat-card class="example-card card-size">
    <mat-card-header class="header">
      <img mat-card-avatar src="assets/rivage.png" alt="Photo of a Shiba Inu">
      <mat-card-title>Evento na divine</mat-card-title>
      <mat-card-subtitle class="header">
        <mat-icon>location_on</mat-icon>Divine massageria
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/evento 1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content class="button-content">
      <button mat-stroked-button>Ver maissobre o evento</button>
    </mat-card-content>
  </mat-card>


  <mat-card class="example-card card-size">
    <mat-card-header class="header">
      <img mat-card-avatar src="assets/rivage.png" alt="Photo of a Shiba Inu">
      <mat-card-title>Evento na divine</mat-card-title>
      <mat-card-subtitle class="header">
        <mat-icon>location_on</mat-icon>Divine massageria
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/evento 1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content class="button-content">
      <button mat-stroked-button>Ver maissobre o evento</button>
    </mat-card-content>
  </mat-card>


  <mat-card class="example-card card-size">
    <mat-card-header class="header">
      <img mat-card-avatar src="assets/rivage.png" alt="Photo of a Shiba Inu">
      <mat-card-title>Evento na divine</mat-card-title>
      <mat-card-subtitle class="header">
        <mat-icon>location_on</mat-icon>Divine massageria
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/evento 1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content class="button-content">
      <button mat-stroked-button>Ver maissobre o evento</button>
    </mat-card-content>
  </mat-card>


  <mat-card class="example-card card-size">
    <mat-card-header class="header">
      <img mat-card-avatar src="assets/rivage.png" alt="Photo of a Shiba Inu">
      <mat-card-title>Evento na divine</mat-card-title>
      <mat-card-subtitle class="header">
        <mat-icon>location_on</mat-icon>Divine massageria
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/evento 1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content class="button-content">
      <button mat-stroked-button>Ver maissobre o evento</button>
    </mat-card-content>
  </mat-card>


  <mat-card class="example-card card-size">
    <mat-card-header class="header">
      <img mat-card-avatar src="assets/rivage.png" alt="Photo of a Shiba Inu">
      <mat-card-title>Evento na divine</mat-card-title>
      <mat-card-subtitle class="header">
        <mat-icon>location_on</mat-icon>Divine massageria
      </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/evento 1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content class="button-content">
      <button mat-stroked-button>Ver maissobre o evento</button>
    </mat-card-content>
  </mat-card>
  <mat-card class="example-card card-size">
      <mat-card-header class="header">
        <img mat-card-avatar src="assets/rivage.png" alt="Photo of a Shiba Inu">
        <mat-card-title>Evento na divine</mat-card-title>
        <mat-card-subtitle class="header">
          <mat-icon>location_on</mat-icon>Divine massageria
        </mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/evento 1.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content class="button-content">
        <button mat-stroked-button>Ver maissobre o evento</button>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card card-size">
        <mat-card-header class="header">
          <img mat-card-avatar src="assets/rivage.png" alt="Photo of a Shiba Inu">
          <mat-card-title>Evento na divine</mat-card-title>
          <mat-card-subtitle class="header">
            <mat-icon>location_on</mat-icon>Divine massageria
          </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/evento 1.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content class="button-content">
          <button mat-stroked-button>Ver maissobre o evento</button>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card card-size">
          <mat-card-header class="header">
            <img mat-card-avatar src="assets/rivage.png" alt="Photo of a Shiba Inu">
            <mat-card-title>Evento na divine</mat-card-title>
            <mat-card-subtitle class="header">
              <mat-icon>location_on</mat-icon>Divine massageria
            </mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/evento 1.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content class="button-content">
            <button mat-stroked-button>Ver maissobre o evento</button>
          </mat-card-content>
        </mat-card>

        <mat-card class="example-card card-size">
            <mat-card-header class="header">
              <img mat-card-avatar src="assets/rivage.png" alt="Photo of a Shiba Inu">
              <mat-card-title>Evento na divine</mat-card-title>
              <mat-card-subtitle class="header">
                <mat-icon>location_on</mat-icon>Divine massageria
              </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/evento 1.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content class="button-content">
              <button mat-stroked-button>Ver maissobre o evento</button>
            </mat-card-content>
          </mat-card>
          <mat-card class="example-card card-size">
              <mat-card-header class="header">
                <img mat-card-avatar src="assets/rivage.png" alt="Photo of a Shiba Inu">
                <mat-card-title>Evento na divine</mat-card-title>
                <mat-card-subtitle class="header">
                  <mat-icon>location_on</mat-icon>Divine massageria
                </mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="assets/evento 1.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content class="button-content">
                <button mat-stroked-button>Ver maissobre o evento</button>
              </mat-card-content>
            </mat-card>
            <mat-card class="example-card card-size">
                <mat-card-header class="header">
                  <img mat-card-avatar src="assets/rivage.png" alt="Photo of a Shiba Inu">
                  <mat-card-title>Evento na divine</mat-card-title>
                  <mat-card-subtitle class="header">
                    <mat-icon>location_on</mat-icon>Divine massageria
                  </mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="assets/evento 1.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content class="button-content">
                  <button mat-stroked-button>Ver maissobre o evento</button>
                </mat-card-content>
              </mat-card>
              <mat-card class="example-card card-size">
                  <mat-card-header class="header">
                    <img mat-card-avatar src="assets/rivage.png" alt="Photo of a Shiba Inu">
                    <mat-card-title>Evento na divine</mat-card-title>
                    <mat-card-subtitle class="header">
                      <mat-icon>location_on</mat-icon>Divine massageria
                    </mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="assets/evento 1.jpg" alt="Photo of a Shiba Inu">
                  <mat-card-content class="button-content">
                    <button mat-stroked-button>Ver maissobre o evento</button>
                  </mat-card-content>
                </mat-card>
</div>